<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper文件最好放在与Dao接口同一目录下 -->
<mapper namespace="com.horse.sys.user.model.User">
	<!-- 定义数据库字段与实体对象的映射关系 -->
	<resultMap type="User" id="UserMap">
		<id column="userID" property="userID" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<id column="userCode" property="userCode" javaType="java.lang.String" jdbcType="VARCHAR" />
		<id column="userName" property="userName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<id column="userPassword" property="userPassword" javaType="java.lang.String" jdbcType="VARCHAR" />
		<id column="userType" property="userType" javaType="java.lang.String" jdbcType="VARCHAR" />
		<id column="isValid" property="isValid" javaType="java.lang.String" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 保存用户 -->
	<insert id="saveUser" parameterType="User" useGeneratedKeys="true" keyProperty="userID" >
		insert into sys_user(userCode,userName,userPassword,userType,isValid) 
		values(#{userCode},#{userName},#{userPassword},#{userType},#{isValid})
	</insert> 
	
	<!-- 保存用户 -->
	<insert id="updateUser" parameterType="User">
		update sys_user set userCode=#{userCode},userName=#{userName},userPassword=#{userPassword},userType=#{userType},isValid=#{isValid} where userID=#{userID}
	</insert> 
	
	<!-- 删除用户 -->
	<insert id="deleteUser" parameterType="User">
		delete from sys_user where userID=#{id}
	</insert> 

	<!-- 用户共用列 -->
	<sql id="userColumns">
		u.userID,u.userCode,u.userName,u.userPassword,u.userType,u.isValid
	</sql>

	<!-- 根据用户编号查询用户 -->
	<select id="getByUserCode" parameterType="java.util.Map" resultMap="UserMap">
		select <include refid="userColumns"/> from sys_user u where u.userCode = #{code}
	</select> 
	 
	<!-- 根据用户编号查询用户 -->
	<select id="getByUserID" parameterType="java.util.Map" resultMap="UserMap">
		select <include refid="userColumns"/> from sys_user u where u.userID = #{id}
	</select> 
	
	<select id="getAllUser" resultMap="UserMap">
		select <include refid="userColumns"/> from sys_user u
	</select> 
	
	
	<!-- 用户分页查询MySql分页 -->
	<select id="queryUserForPage" parameterType="java.util.Map" resultMap="UserMap">
		select <include refid="userColumns"/> 
		from sys_user u 
		where 1=1
			<if test="userCode != null and userCode.trim()!=''">
				 and u.userCode = #{userCode}
			</if>
			<if test="userName !=null and userName.trim()!=''">
				and u.userName like #{userName}
			</if>
	   and u.userID >= (
	   		SELECT userID FROM sys_user 
	   		where 1=1
	   		<if test="userCode != null and userCode.trim()!=''">
				 and userCode = #{userCode}
			</if>
			<if test="userName !=null and userName.trim()!=''">
				and userName like #{userName}
			</if>
	   		ORDER BY userID ASC LIMIT #{offset}, 1
	   )ORDER BY u.userID ASC LIMIT #{limit}
	</select> 
	
	<!--查询用户总数 -->
	<select id="queryUserForCount" parameterType="java.util.Map" resultType="int">
		select count(1) from sys_user u 
		<where>
			<if test="userCode != null and userCode.trim()!=''">
				 and u.userCode = #{userCode}
			</if>
			<if test="userName !=null and userName.trim()!=''">
				and u.userName like #{userName}
			</if>
		</where>
	</select>
</mapper> 
